__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
.tox/
.coverage
.coverage.*
.cache/
coverage.xml
*.cover
*.log
.git/
.gitignore
.mypy_cache/
.pytest_cache/
.hypothesis/
experiments/
notebooks/
tests/
.env
.env.*
.idea/
.vscode/
*.egg-info/
docker-compose.yml
.ipynb_checkpoints/
outputs/
multirun/
